{% load staticfiles %}
<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta charset="UTF-8">
    <script type="text/javascript" src="//cdn.bootcss.com/jquery/2.2.1/jquery.min.js"></script>
    <script type="text/javascript" src="{% static "ckeditor/ckeditor/ckeditor.js" %}"></script>
    <script type="text/javascript" src="{% static "ckeditor/ckeditor-init.js" %}"></script>
    <title>Title</title>
</head>
<body>
<form method="post">
    {% csrf_token %}
    <input type="text" name="name" required>
    <input type="number" name="graduate" required>
    <input type="text" name="unit" required>
    <input type="text" name="phone" required>
    <input type="email" name="email" required>
    <input type="text" name="im">
    <input type="text" name="wechat">
    <input type="text" name="short_word">

    <label for="id_content"></label>
    <div class="django-ckeditor-widget" data-field-id="id_content" style="display: inline-block;">
        <textarea cols="40" id="id_content" name="content" rows="10" data-processed="0" data-config='{"filebrowserWindowWidth": 940, "toolbar_Basic": [["Source", "-", "Bold", "Italic"]], "language": "zh-cn", "toolbar_Full": [["Styles", "Format", "Bold", "Italic", "Underline", "Strike", "SpellChecker", "Undo", "Redo"], ["Link", "Unlink", "Anchor"], ["Image", "Flash", "Table", "HorizontalRule"], ["TextColor", "BGColor"], ["Smiley", "SpecialChar"], ["Source"]], "filebrowserUploadUrl": "/ckeditor/upload/", "height": 291, "width": 600, "filebrowserBrowseUrl": "/ckeditor/browse/", "skin": "moono", "filebrowserWindowHeight": 725, "toolbar": "Full"}' data-external-plugin-resources='[]' data-id="id_content" data-type="ckeditortype"></textarea>
    </div>
    <input type="submit" value="post">
</form>

</body>
</html>